html, body, .decoTreeCkbxCont{
    cursor: pointer;
}

/**********************************************/
/*            Initial Display                 */
/**********************************************/
.decoTreeCkbxCont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    background-color: #c7dbf7;
    margin-top:6em;
    padding-bottom:6em;
}

/**********************************************/
/*           Tree Element Classes             */
/**********************************************/
.treeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:solid black;
    background-color: #c7dbf7;
    margin-top:1em;
    padding-top:3em;
}

.triangle{
    width: 0;
    height: 0;
}

.treeTop{
    border-left: 111px solid transparent;
    border-right: 111px solid transparent;
    border-bottom: 111px solid green;
    margin-bottom: -66px;
}

.treeMiddle{
    border-left: 222px solid transparent;
    border-right: 222px solid transparent;
    border-bottom: 222px solid green;
    margin-bottom: -151px;
}

.treeBottom{
    border-left: 444px solid transparent;
    border-right: 444px solid transparent;
    border-bottom: 444px solid green;
}
.underTree{
    
    width: 98.5vw;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #d4faef;
}
.treeTrunk{
    width: 80px;
    height: 50px;
    background-color: rgb(131, 41, 41);
    margin-top: -30px;
}

/**********************************************/
/*  Event added element classes: snow,gifts   */
/**********************************************/
.circleSmall{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

.box{
    position: absolute;
    width: 75px;
    height: 50px;
    background-color:silver;
    border-top:solid rgb(177, 177, 210);
    border-right:solid rgb(191, 191, 221);
}

.boxRibbon{
    
    width:15px;
    height:45px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(177, 177, 210);
    border:solid rgb(177, 177, 210);
}

/**********************************************/
/*       Text box/enter button container      */
/**********************************************/
.btnCont{
    display:flex;
    justify-content: space-between;
}

/**********************************************/
/*  Overlayed element classes: title h1,star  */
/**********************************************/
.overlayText{
    color:rgb(152, 135, 211);
    font-weight: bolder;
    position: absolute;
    top: 8%;
    left: 2%;
}

.overlayDiv{
    border:solid black;
    position: absolute;
    top: 7%;
    left: 48%;
    height:55px;
    width:60px;
}

.overlayStarDiv{
    position: absolute;
    top: -122%;
    left: -24%;
}

.overlayTreeOne{
    border:solid black;
    position: absolute;
    top: 15%;
    left: 46%;
    height:25px;
    width:121px;
}

.overlayTreeTwo{
    border:solid black;
    position: absolute;
    top: 19%;
    left: 43%;
    height:33px;
    width:210px;
}

.overlayTreeThree{
    border:solid black;
    position: absolute;
    top: 24%;
    left: 44%;
    height:25px;
    width:181px;
}

.overlayTreeFour{
    border:solid black;
    position: absolute;
    top: 28%;
    left: 42%;
    height:33px;
    width:244px;
}

.overlayTreeFive{
    border:solid black;
    position: absolute;
    top: 33%;
    left: 40%;
    height:25px;
    width:311px;
}

.overlayTreeSix{
    border:solid black;
    position: absolute;
    top: 37%;
    left: 37%;
    height:33px;
    width:395px;
}

.overlayTreeSeven{
    border:solid black;
    position: absolute;
    top: 42%;
    left: 35%;
    height:25px;
    width:454px;
}

.overlayTreeEight{
    border:solid black;
    position: absolute;
    top: 46%;
    left: 37%;
    height:33px;
    width:395px;
}

.overlayTreeNine{
    border:solid black;
    position: absolute;
    top: 51%;
    left: 35%;
    height:33px;
    width:454px;
}

.overlayTreeTen{
    border:solid black;
    position: absolute;
    top: 56%;
    left: 33%;
    height:25px;
    width:515px;
}

.overlayTreeEleven{
    border:solid black;
    position: absolute;
    top: 60%;
    left: 31%;
    height:33px;
    width:585px;
}

.overlayTreeTwelve{
    border:solid black;
    position: absolute;
    top: 65%;
    left: 29%;
    height:25px;
    width:646px;
}

.overlayTreeThirteen{
    border:solid black;
    position: absolute;
    top: 69%;
    left: 27%;
    height:33px;
    width:711px;
}

.overlayTreeFourteen{
    border:solid black;
    position: absolute;
    top: 74%;
    left: 24%;
    height:33px;
    width:800px;
}

.overlayTreeFifteen{
    border:solid black;
    position: absolute;
    top: 79%;
    left: 22%;
    height:25px;
    width:858px;
}

.overlayTreeSixteen{
    border:solid black;
    position: absolute;
    top: 83%;
    left: 21%;
    height:15px;
    width:888px;
}